# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage

# IDE
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# env
.env*

# Docker
.dockerignore
Dockerfile.dev
Dockerfile.prod
compose.yml
compose.prod.yml

# Git
.gitignore
.github

# Node
.nvmrc

# Markdown
*.md
